//form
.form-container{
  padding: 10px
  }

//empty-tips

.empty-tips{
  font-size: 20px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 10vh;
  color: #ccc;
  }

//改变表单字体
.cube-form-label{
  //font-size: 14px
}

//改变textarea高度
.leave-form{
  .cube-textarea-wrapper{
    .cube-form_standard .cube-textarea-wrapper{
    height: auto
  }
}
}
